
<div class='col-3'>
  <%= link_to profile_path(current_user) do %>
    <h5 class="my-3 text-dark">Profile</h5>
  <% end %>
  <%= link_to 'https://www.facebook.com/coronavirus_info/?page_source=bookmark' do %>
    <h5 class='my-3 text-dark'>Covid-19 Information Center</h5>
  <% end %>
  <%= link_to friends_path do %>
    <h5 class='my-3 text-dark'>Friends</h5>
  <% end %>
  <%= link_to feed_path do %>
    <h5 class='my-3 text-dark'>Messenger</h5>
  <% end %>
  <%= link_to feed_path do %>
    <h5 class='my-3 text-dark'>Fundraisers</h5>
  <% end %>
  <%= link_to feed_path do %>
    <h5 class='my-3 text-dark'>Marketplace</h5>
  <% end %>
  <div class='line w-75'></div>
</div>
