<!-- invisible div to take place of absolutely positioned one -->
<div id='left-nav' class='col-3'></div>

  <div id='leftnav' class='col-3 mt-2 position-fixed' style="overflow-y:scroll; min-height: 90vh; max-height: 80%">
  <%= link_to profile_path(current_user), class:'text-decoration-none' do %>
    <div class='gray-hover p-2'>
      <% unless current_user.profile_picture.attachment %>
        <i class="far fa-user" style='font-size: 30px;'>&nbsp;</i>
      <% else %>
        <%= image_tag(current_user.profile_picture, size: '40x40', class:'rounded-circle')%>
      <% end %>
        <span class="my-3 text-dark left-navbar-link" style="font-size: 14px;"><%= current_user.fullname %></span>
      
    </div>
  <% end %>

  <%= link_to 'https://www.facebook.com/coronavirus_info/?page_source=bookmark', class:'text-decoration-none' do %>
    <div class='gray-hover p-2 d-flex align-items-center'>
      <i class="fas fa-heart" style='font-size:30px; color: red;'>&nbsp;</i>
      <span class='my-3 h6 text-dark left-navbar-link' style="font-size: 14px;">Covid-19 Information Center</span>
    </div>
  <% end %>

  <%= link_to friends_find_path, class:'text-decoration-none' do %>
    <div class='p-2 gray-hover d-flex align-items-center'>
      <i class="fas fa-user-friends" style='font-size: 30px;'>&nbsp;</i>
      <span class='my-3 h6 text-dark' style="font-size: 14px;">Friends</span>
    </div>
  <% end %>

  <%= link_to feed_path, class:'text-decoration-none' do %>
    <div class='p-2 gray-hover d-flex align-items-center'>
      <i class="fab fa-facebook-messenger" style='font-size: 30px;'>&nbsp;</i>
      <span class='h6 my-3 text-dark' style="font-size: 14px;">Messenger</span>
    </div>
  <% end %>

  <%= link_to feed_path, class:'text-decoration-none' do %>
    <div class='p-2 gray-hover d-flex align-items-center'>
      <i class="fas fa-hand-holding-heart" style='font-size: 30px; color: pink;'>&nbsp;</i>
      <span class='h6 my-3 text-dark' style="font-size: 14px;">Fundraisers</span>
    </div>
  <% end %>

  <%= link_to '', class:'text-decoration-none' do %>
    <div class='p-2 gray-hover d-flex align-items-center'>
      <i class="fas fa-calendar-check" style='color: orange; font-size: 30px'>&nbsp;</i>
      <span class='h6 my-3 text-dark' style="font-size: 14px;">Events</span>
    </div>
  <% end %>

  <%= link_to '', class:'text-decoration-none' do %>
    <div class='p-2 gray-hover d-flex align-items-center'>
      <i class="fas fa-cloud" style="color: rgb(198, 246, 255); font-size:30px;">&nbsp;</i>
     <span class='h6 my-3 text-dark' style="font-size: 14px;">Weather</span>
    </div>
  <% end %>

  <!-- left-nav dropdown button -->
  <%= link_to '', data: {toggle: 'collapse', target: '#collapsable-left-nav'}, id: 'see-more', class:'text-decoration-none' do %>
    <div class='p-2 gray-hover d-flex align-items-center mb-2'>
      <i class="fas fa-caret-down" style='font-size: 30px; color:lightgray;'>&nbsp;</i>
      <span class='h6 my-3 text-dark' style="font-size: 14px;">See More</span>
    </div>
  <% end %>


  <!-- left nav dropdown div -->
  <div id='collapsable-left-nav' class='collapse'>

    <%= link_to '', class:'text-decoration-none' do %>
      <div class='p-2 gray-hover d-flex align-items-center'>
      <i class="fas fa-bullhorn" style="color:rgb(184, 202, 20); font-size:30px;">&nbsp;</i>
      <span class='h6 my-3 text-dark' style="font-size: 14px;">Marketplace</span>
      </div>
    <% end %>

    <%= link_to '', class:'text-decoration-none' do %>
      <div class='p-2 gray-hover d-flex align-items-center'>
      <i class="fas fa-video" style='font-size:30px; color: red'>&nbsp;</i>
      <span class='h6 my-3 text-dark' style="font-size: 14px;">Videos</span>
      </div>
    <% end %>

    <%= link_to '', class:'text-decoration-none' do %>
      <div class='p-2 gray-hover d-flex align-items-center'>
      <i class="fas fa-users" style="color: rgb(95, 82, 206); font-size:30px;">&nbsp;</i>
      <span class='h6 my-3 text-dark' style="font-size: 14px;">Groups</span>
      </div>
    <% end %>

    <%= link_to '', class:'text-decoration-none' do %>
      <div class='p-2 gray-hover d-flex align-items-center'>
      <i class="fas fa-flag" style="font-size:30px;">&nbsp;</i>
      <span class='h6 my-3 text-dark' style="font-size: 14px;">Pages</span>
      </div>
    <% end %>

    <%= link_to '', class:'text-decoration-none' do %>
      <div class='p-2 gray-hover d-flex align-items-center'>
      <i class="fas fa-ticket-alt" style="font-size:30px;">&nbsp;</i>
      <span class='h6 my-3 text-dark' style="font-size: 14px;">Ticket</span>
      </div>
    <% end %>

    <%= link_to '', class:'text-decoration-none' do %>
      <div class='p-2 gray-hover d-flex align-items-center'>
      <i class="fas fa-gamepad" style="font-size:30px;">&nbsp;</i>
      <span class='h6 my-3 text-dark' style="font-size: 14px;">Games</span>
      </div>
    <% end %>

    <!-- Uncollapse button -->
    <%= link_to '', class:'text-decoration-none', data: {toggle: 'collapse', target: '#collapsable-left-nav'}, id:'see-less' do %>
      <div class='p-2 gray-hover d-flex align-items-center mb-2'>
        <i class="fas fa-caret-up" style='font-size: 30px;'>&nbsp;</i>
        <span class='my-3 text-dark' style='font-size: 14px'>See less</span>
      </div>
    <% end %> 

  </div>


  <div class='line w-90'></div>



  <!-- footer -->
  <div style='font-size: 13px;'>
  <%= link_to '', class:'text-muted text-decoration-none' do %>
    <span>Privacy</span>&middot;
    <span>Terms</span>&middot;
    <span>Advertising</span>&middot;
    <span>Ad choices</span>&middot;
    <span>Cookies</span>&middot;
    <span>More</span>&middot;
    <span>Facebook</span>&middot;
    <span>&copy; 2020</span>
  <% end %>
  
  </div>
</div>


<!-- script for showing/hiding See-More button on leftnav -->
<script>
  seeMore = document.querySelector('#see-more');
  seeMore.addEventListener('click', function(){
    seeMore.style.display = 'none';
  });

  seeLess = document.querySelector('#see-less');
  seeLess.addEventListener('click', function(){
    seeMore.style.display = 'block';
  });
</script>