

<div class='m-0 px-0 pt-2 border-bottom border-light position-sticky sticky-top row' style='box-shadow: 1px 2px 11px 0px rgba(211,211,211,1); background-color: white;'>  

  <!-- left (intro and searchbar) -->
  <div class='col-3 d-flex'>
    <%= link_to home_path do %>
      <i class="fab fa-facebook" style='font-size: 40px' >&nbsp;</i>
    <% end %>
    
    <i class="d-flex align-items-center fas fa-search bg-light rounded-circle mb-2" style='font-size: 25px; padding: 0px 5px;'></i>

  </div>

  <!-- middle (fontawesome icons) -->
  <div class='fas-div col-6 d-flex text-dark'>

    <!-- home fa -->
    <% if current_page?(feed_path) %>
      <%= link_to feed_path, class:'fa-div py-2 w-100 text-center blue-border border-3 text-primary' do %>
        <i class="fas fa-house-user"></i>
      <% end %>
      <% else %>
      <%= link_to feed_path, class:'fa-div py-2 w-100 text-center border-3 text-dark' do %>
        <i class="fas fa-house-user"></i>
      <% end %>
    <% end %>


    <!-- friends fa-->
    <% if controller_name == 'friends' %>
      <%= link_to '', data:{toggle:'collapse', target:'#collapse-friends'}, class:'fa-div text-primary blue-border border-3 py-2 w-100 text-center' do %>
       <i class="far fa-user"></i> 
      <% end %>
    <% else %>
      <%= link_to '', data:{toggle:'collapse', target:'#collapse-friends'}, class:'fa-div text-muted border-3 py-2 w-100 text-center' do %>
        <i class="far fa-user"></i>
      <% end %>
    <% end %>

    

    <div class='fa-div py-2 text-center w-100'>
      <i class="fas fa-tv"></i>
    </div>

    <div class='fa-div py-2 text-center w-100'>
      <i class="fas fa-bullhorn"></i>
    </div>

    <div class='fa-div py-2 text-center w-100'>
      <i class="fas fa-bars"></i>
    </div>
  </div>

  <!-- right (profile things) --> 
  <div class='col-3 d-flex justify-content-end position-relative'> <!-- d-flex just for now -->

    <%= link_to '' do %>
      <i class="gray-hover fas fa-plus rounded-circle mx-1" style='background-color: #D8D8D8; padding: 10px; font-size: 20px; color: black;'></i>
    <% end %>

    <%= link_to '' do %>
      <i class="fab fa-facebook-messenger rounded-circle mx-1" style='background-color: #D8D8D8; padding: 10px; font-size: 20px; color: black;'></i>
    <% end %>

    <%= link_to '', data: {toggle: 'collapse', target: '#notification-div'} do %>
      <i class="fas fa-bell rounded-circle mx-1" style='background-color: #D8D8D8; padding: 10px; font-size: 20px; color: black;'></i>

      <!-- dont show if there's no notifications -->
      <% unless current_user.notifications.count == 0 %>
      <div id='no-of-notifications' class='position-absolute' style='top: -7px; right: 65px;'>
        <span class='rounded-circle bg-danger text-white' style='padding: 2px 5px;'><%= current_user.notifications.count%><span>
      </div>
      <% end %>

    <% end %>

    
    <%= link_to '', data: {toggle: 'collapse', target:'#top-nav-dropdown'} do %>
      <i class="fas fa-caret-down rounded-circle mx-1" style='background-color: #D8D8D8; padding: 10px 12px; font-size: 20px; color: black;'></i>
    <% end %>

    
    <div class='collapse position-absolute bg-white border-radius-10 p-3' id='top-nav-dropdown' style='top:56px;'>
      <div class='gray-hover p-2'>
        <%= link_to 'Log out', destroy_user_session_path, method: :delete, class:'text-dark' %>
      </div>

    </div>

  </div> <!-- ends right top-nav col -->
</div> <!-- ends top-nav div -->

<!-- Friends div collapsable -->
<div id='collapse-friends' class='collapse position-fixed w-25 p-1 bg-white border-radius-10 mt-2' style='z-index: 4343; left: 35%; top: 61px;'>
  <%= link_to friends_find_path, class:'text-muted' do %>
    <p class='m-0 p-2 gray-hover'>Find Friends</p>
  <% end %>
  <%= link_to friends_path, class:'text-muted' do %>
    <p class='m-0 p-2 gray-hover'>Friend requests</p>
  <% end %>
  <%= link_to friends_index_path, class:'text-muted' do %>
    <p class='m-0 p-2 gray-hover'>Your friends</p>
  <% end %>
</div>

<!-- Notifications div collapsable -->
<div id='notification-div' class='position-fixed   w-35 collapse bg-white mt-2 border-radius-5' style='box-shadow: 1px 2px 11px 0px rgba(211,211,211,1); min-height: 200px; z-index: 503; top:61px; right: 50px;'>
  <h3 class='font-weight-bold mt-3 ml-3'>Notifications</h3>

  <% current_user.notifications.each do |notif| %>
    <div class='px-3 py-2'>
      <%= link_to notif.notif_link do %>
        <% if User.find(notif.from_id).profile_picture.attachment %>
          <%= image_tag User.find(notif.from_id).profile_picture, size: '40x40', class:'rounded-circle float-left mr-2' %>
        <% else %>
          <%= image_tag 'no_profile_pic.jpg', size: '40x40', class:'rounded-circle float-left pr-2' %>
        <% end %>
        <span class='my-2' style='font-size: 16px;'><%= notif.text %></span>
      <% end %>

      <% unless notif == current_user.notifications.last %>
        <div class='line' style='padding-top:23px;  '></div>
       <% end %>
    
    </div>
  <% end %>

</div>

<script>

fadivs = document.querySelectorAll('.fa-div');
fadivs.forEach(element => {
    element.addEventListener('click', function() {
        fadivs.forEach(element => {
          element.classList.remove('blue-border');
          element.classList.remove('border-3');
          element.style.color = 'black'
        });
        element.style.color = 'blue';
        element.classList.add('blue-border');
        element.classList.add('border-3');
    });
});
</script>