


<div class='m-0 py-1 px-0 navbar border-bottom border-light position-sticky sticky-top row' style='background-color: white;'>  

  <!-- left (intro and searchbar) -->
  <div class='col-3 d-flex'>
    <%= link_to home_path do %>
      <i class="fab fa-facebook" style='font-size: 40px' >&nbsp;</i>
    <% end %>
    
    <i class="fas fa-search p-2 bg-light rounded-circle" style='font-size: 25px'></i>

  </div>

  <!-- middle (fontawesome icons) -->
  <div class='fas-div col-6 d-flex text-dark'>

    <!-- home fa -->
    <div class='fa-div py-2 w-100 text-center blue-border border-3' style='color:blue;'>
      <i class="fas fa-house-user"></i>
    </div>

    <!-- friends fa-->
    <div class='fa-div py-2 w-100 text-center'>
    <i class="far fa-user"></i>
    </div>

    <div class='fa-div py-2 text-center w-100'>
      <i class="fas fa-tv"></i>
    </div>

    <div class='fa-div py-2 text-center w-100'>
      <i class="fas fa-bullhorn"></i>
    </div>

    <div class='fa-div py-2 text-center w-100'>
      <i class="fas fa-bars"></i>
    </div>
  </div>

  <!-- right (profile things) --> 
  <div class='col-3 d-flex justify-content-end position-relative'> <!-- d-flex just for now -->

    <%= link_to '' do %>
      <i class="fas fa-plus rounded-circle mx-1" style='background-color: #D8D8D8; padding: 10px; font-size: 20px; color: black;'></i>
    <% end %>

    <%= link_to '' do %>
      <i class="fab fa-facebook-messenger rounded-circle mx-1" style='background-color: #D8D8D8; padding: 10px; font-size: 20px; color: black;'></i>
    <% end %>

    <%= link_to '' do %>
      <i class="fas fa-bell rounded-circle mx-1" style='background-color: #D8D8D8; padding: 10px; font-size: 20px; color: black;'></i>
    <% end %>

    <%= link_to '', data: {toggle: 'collapse', target:'#top-nav-dropdown'} do %>
      <i class="fas fa-caret-down rounded-circle mx-1" style='background-color: #D8D8D8; padding: 10px 12px; font-size: 20px; color: black;'></i>
    <% end %>

    

    <div class='collapse position-absolute bg-white border-radius-10 p-3' id='top-nav-dropdown' style='top:56px;'>
      <div class='gray-hover p-2'>
        <%= link_to 'Log out', destroy_user_session_path, method: :delete, class:'text-dark' %>
      </div>

    </div>

  </div> <!-- ends right top-nav col -->

</div> <!-- ends top-nav div -->

<script>

fadivs = document.querySelectorAll('.fa-div');
fadivs.forEach(element => {
    element.addEventListener('click', function() {
        fadivs.forEach(element => {
          element.classList.remove('blue-border');
          element.classList.remove('border-3');
          element.style.color = 'black'
        });
        element.style.color = 'blue';
        element.classList.add('blue-border');
        element.classList.add('border-3');
    });
});
</script>