<div style='background-image: linear-gradient(180deg, gray, white);'>
  <div class='container-fluid py-3 mx-auto position-relative' id='cover-photo' style='width: 68%; background-color: #F5F5F5; height: 350px;'>

    <!-- cover photo 851x315-->
    <div id='cover-photo'>
      <%= image_tag('') %>
    </div>


    <!-- profile picture div -->
    <div id='profile-picture' class='position-absolute' style='left: 50%; margin-left: -90px; top: 55%;'%>
      <% if @user.profile_picture.attachment %>
        <%= link_to @user.profile_picture  do %>
          <%= image_tag @user.profile_picture, size: '180x180', class:'white-border rounded-circle' %>
        <% end %>
      <% else %>
        <%= image_tag 'no_profile_pic.jpg', size:'180x180', class:'white-border rounded-circle' %>
      <% end %>
    </div>
    
    <!-- change profile pic btn -->
    <div class='position-absolute' style='top:85%;'>
      <%= link_to 'Change your profile picture', '#', data: {toggle: 'collapse', target:'#collapsable-upload-form'}, class:'btn bg-light my-2 h4 d-block change-profile-picture' if @user == current_user if @user.profile_picture_attachment %>
      <%= link_to 'Upload a profile picture', '#', data: {toggle: 'collapse', target:'#collapsable-upload-form'}, class:'my-2 h4 d-block change-profile-picture' if @user == current_user if !@user.profile_picture_attachment %>
    </div>

    <div class='position-absolute' style='top:85%;'>

    </div>

  </div>
<h1 class='pt-4 font-weight-bold text-center'><%= @user.fullname %></h1>

</div>

<!-- upload form -->
<div class='container-fluid py-3 collapse' id='collapsable-upload-form' style='background-color: #F5F5F5;'>
  <%= form_with url: registration_path(@user), method: :put, locals: true do |f|  %>
    <%= f.file_field :profile_picture, class:'form-control-file w-25' %>
    <%= f.submit :upload, value: 'Upload', class:'form-control w-25 my-3 btn btn-primary' %>
  <% end %>
</div>

<h4 class='pt-2'>Email: <%= @user.email %></h4>
