
<div style='background: linear-gradient(180deg, rgba(2,20,34,1) 0%, rgba(255,255,255,1) 25%);'>
  <div class='mx-auto position-relative' style='width:950px; background-color: #F5F5F5; height: 350px;'>

    <!-- cover photo 851x315-->
    <div id='cover-photo'>
      <% if @user.cover_picture.attachment %>
        <%= image_tag @user.cover_picture, id:'cover-picture' %>
      <% end %>
    </div>


    <!-- profile picture div -->
    <div id='profile-picture' class='position-absolute' style='left: 50%; margin-left: -90px; top: 60%;'%>
      <% if @user.profile_picture.attachment %>
        <%= link_to @user.profile_picture  do %>
          <%= image_tag @user.profile_picture, size: '180x180', class:'object-fit-cover white-border rounded-circle' %>
        <% end %>
      <% else %>
        <%= image_tag 'no_profile_pic.jpg', size:'180x180', class:'white-border rounded-circle' %>
      <% end %>
    </div>

    <!-- if my profile => show options to change profile/cover pictures -->
    <% if @user == current_user %>
      <!-- change profile pic btn -->
      <div class='position-absolute' style='top:83%; left: 20px;'>
        <%= link_to 'Change your profile picture', '#', data: {toggle: 'collapse', target:'#collapsable-profile-upload-form'}, class:'btn btn-secondary my-2 h4 d-block change-profile-picture' if @user.profile_picture.attachment %>
        <%= link_to 'Upload a profile picture', '#', data: {toggle: 'collapse', target:'#collapsable-profile-upload-form'}, class:'btn btn-secondary my-2 h4 d-block change-profile-picture' if !@user.profile_picture.attachment %>
      </div>

      <!-- change cover photo btn -->
      <div class='position-absolute' style='top:83%; right: 20px;'>
        <%= link_to 'Change your cover photo', '#', data: {toggle: 'collapse', target:'#collapsable-cover-upload-form'}, class:'btn btn-secondary my-2 h4 d-block change-cover-photo' if @user == current_user if @user.cover_picture.attachment %>
        <%= link_to 'Upload a cover photo', '#', data: {toggle: 'collapse', target:'#collapsable-cover-upload-form'}, class:'btn btn-secondary my-2 h4 d-block change-cover-photo' if @user == current_user if !@user.cover_picture.attachment %>
      </div>

      <!-- else show a button to send friend request -->
    <% else %>
      <% if !current_user.friends.include?(@user) && !current_user.to_fr_ids.include?(@user.id) %>
        <div class='position-absolute' style='top:73%; right: 20px;'>
          <%= link_to 'Send Friend Request', send_request_path(@user.id), method: :post, class:'px-3 btn btn-info' %>
        </div>
      <% elsif !current_user.to_fr_ids.include?(@user.id) %>
        <div class='position-absolute' style='top:73%; right: 20px;'>
          <%= link_to delete_friend_path(@user.id), method: :post, id:'btn-friend-unfriend', data: {confirm: "Are you sure you want to unfriend #{@user.fullname}?"}, class:'btn btn-success px-3 btn-disabled' do %>
            <span id='friend-unfriend'>Friends <i class="fas fa-check"></i></span>
          <% end %>
        </div>
      <% else %>
        <div class='position-absolute' style='top:73%; right: 20px;'>
          <p class='px-3 py-1 border-radius-20 font-weight-bold' style='background-color: rgba(72, 166, 17, 0.82);'>Friend Request Sent</p>
        </div>
      <% end %>

    <% end %>

    <!-- friend -> unfriend on hover script -->
    <% if current_user.friends.include?(@user) %>
      <script>
        fr = document.querySelector('#friend-unfriend');
        txt = fr.innerHTML
        btn = document.querySelector('#btn-friend-unfriend');


        fr.addEventListener('mouseover', function(){
          fr.innerHTML = 'Unfriend';

          btn.classList.remove('btn-success');
          btn.classList.add('btn-danger');
        });
        fr.addEventListener('mouseout', function(){
          fr.innerHTML = txt;

          btn.classList.remove('btn-danger');
          btn.classList.add('btn-success');
        })
      </script>
    <% end %>

    <!-- upload profile picture form -->
    <div class='container-fluid position-absolute collapse' id='collapsable-profile-upload-form' style='top:100%; left: 3%;'>
      <%= form_with url: upload_profile_picture_path, method: :put, locals: true do |f|  %>
        <%= f.file_field :profile_picture, class:'form-control-file w-25' %>
        <%= f.submit :upload, value: 'Upload', class:'form-control w-25 my-3 btn btn-primary' %>
      <% end %>
    </div>

    <!-- upload cover photo form -->
    <div class='container-fluid position-absolute collapse' id='collapsable-cover-upload-form' style='top:100%; left: 81%;'>
      <%= form_with url: upload_cover_picture_path, method: :put, locals: true do |f|  %>
        <%= f.file_field :cover_picture, class:'form-control-file w-25' %>
        <%= f.submit :upload, value: 'Upload', class:'form-control w-25 my-3 btn btn-primary' %>
      <% end %>
    </div>



  </div>
<h2 class='pt-5 mb-4 font-weight-bold text-center'><%= @user.fullname %></h2>
<div class='mx-auto' style='width: 870px;'>
  <!-- hr -->
  <div class='line mb-2'></div>

  <!-- left-buttons -->
  <div class='d-flex align-items-center'>
    <%= link_to 'Timeline', '#', class:' text-dark px-3 border-3 blue-border py-3 font-weight-bold gray-hover' %>
    <%= link_to 'About', '#', class:' text-dark px-3 py-3 font-weight-bold gray-hover' %>
    <%= link_to "Friends (#{current_user.friends.count})", '#', class:' text-dark px-3 py-3 font-weight-bold gray-hover' %>
    <%= link_to 'Photos', '#', class:'text-dark px-3 py-3 font-weight-bold gray-hover' %>
    <%= link_to 'Archive', '#', class:' text-dark px-3 py-3 font-weight-bold gray-hover' %>

    <%= link_to '#', class:'text-dark px-3 py-3 font-weight-bold gray-hover' do %>
      <span>More &nbsp;</span><i class="fas fa-caret-down"></i>
    <% end %>

    <div class='ml-auto right-buttons'>
      <%= link_to 'Edit Profile', edit_user_registration_path(@user), class:'btn btn-light' %>
      <%= link_to '#', class:'btn btn-light' do %>
        <i class="fas fa-eye"></i>
      <% end %>
      <%= link_to '#', class:'btn btn-light' do %>
        <i class="fas fa-search"></i>
      <% end %>
      <%= link_to '#', class:'btn btn-light' do %>
        <i class="fas fa-ellipsis-h" style='font-size: 12px; color: gray;'></i>
      <% end %>
    </div>
  </div>

</div>




<div class='wrapper' style='background-color: #f5f5f5;'>

  <div class='mx-auto container-fluid d-flex' style='width:900px;'>

    <!-- left part (360px) -->
    <div class='mr-2' style='margin-top: 8px; width: 360px;'>

      <!-- intro -->
      <div class='bg-white p-3 my-3 border-radius-10' style='min-height: 15vh; box-shadow: 1px 2px 3px 0px rgba(194,194,194,1);' id='intro'>
        <h5 class='font-weight-bold'>Intro</h5  >
        <!--- --- -->
      </div>

      <!-- photos -->
      <div class='bg-white p-3 my-3 border-radius-10' style='min-height: 15vh;box-shadow: 1px 2px 3px 0px rgba(194,194,194,1);' id='photos'>
        <h5 class='font-weight-bold'>Photos</h5 >
      </div>

      <div class='bg-white p-2 my-3 border-radius-10' style='min-height: 15vh;box-shadow: 1px 2px 3px 0px rgba(194,194,194,1);' id='friends'>
        <h5 class='font-weight-bold ml-2'>Friends</h5>
        <div class='friends-left d-flex justify-content-between flex-wrap'>
          <% @user.friends.each do |friend| %>
            <div class='border-radius-10 friend my-1' >
              <%= link_to profile_path(friend) do %>
                <!-- profile picture -->
                <% if friend.profile_picture.attachment %>
                  <%= image_tag friend.profile_picture, size:'108x108', class:'border-radius-10' %>
                <% else %>
                  <%= image_tag 'no_profile_pic.jpg', size:'108x108', class:'border-radius-10'%>
                <% end %>

                <!-- fullname -->
                <p style='font-size: 14px;' class=' text-dark font-weight-bold'><%= friend.fullname %></p>
              <% end %>
            </div>
          <% end %>
        </div>
      </div>
    </div>


    <div class='ml-2' style='min-height: 70vh; width: 500px;'>
      <!-- Form for creating posts on the feed -->
      <div class='px-3 bg-white pt-3 pb-1 mt-4 border-radius-10 w-100' style=': 1px 2px 8px 0px rgba(194,194,194,1);'>

        <div class='row mx-auto w-100'>

          <!-- profile photo -->
          <div class='col-1 pl-1'>
            <% if @user.profile_picture.attachment %>
              <%= image_tag @user.profile_picture, size: '45x45', class:'object-fit-cover rounded-circle d-inline' %> 
            <% else %>
              <%= image_tag 'no_profile_pic.jpg', size: '45x45', class: 'rounded-circle'%>
            <% end %>
          </div>      

          <!-- text field -->
          <div class='col-11 pr-1'>
            <%= form_for Post.new do |f| %>
              <%= f.text_field :body, placeholder: "What is on your mind, #{@user.last_name}?", class:'d-inline bg-light form-control border-radius-40 border-0'%>
            <% end %>
          </div>

        </div>

        <hr class='mb-1'>
        
        <div class='row w-100 mx-auto my-2 border-radius-10'>
          <%= link_to '', class:'text-decoration-none col-4 w-100 gray-hover p-1 border-radius-10' do %>
            <div class='d-flex justify-content-center align-items-center w-100 mx-auto'>
              <i class="fas fa-video text-danger text-center" style='font-size: 26px;'>&nbsp;</i>
              <span class='text-muted font-weight-bold' style='font-size: 14px;'>Live Video</span>
            </div>
          <% end %>

          <%= link_to '', class:'text-decoration-none col-4 w-100 gray-hover p-1 border-radius-10' do %>
            <div class='d-flex justify-content-center align-items-center'>
              <i class="fas fa-images text-center" style='color: green; font-size: 26px;'>&nbsp;</i>
              <span class='text-muted font-weight-bold' style='font-size: 14px;'>Photo/Video</span>
            </div>
          <% end %>

          <%= link_to '', class:'text-decoration-none col-4 w-100 gray-hover p-1 border-radius-10' do %>
            <div class='d-flex justify-content-center align-items-center'>
              <i class="far fa-grin-alt text-center" style='color: orange; font-size: 26px;'>&nbsp;</i>
              <span class='text-muted font-weight-bold' style='font-size: 14px;'>Feeling/Activity</span>
            </div>
          <% end %>
        </div>
      </div>



  

    </div> <!-- 500px ending = 'profile feed' -->

    
    

  </div> <!-- 65% width container-->
</div> <!-- wrapper -->
