<div class='container-fluid py-3' style='background-color: #F5F5F5; min-height: 75vh'>
  <div class='w-75 mx-auto' style='background-color: #F5F5F5'>
    <% if @user.profile_picture.attachment %>
      <%= link_to @user.profile_picture  do %>
        <%= image_tag @user.profile_picture, size: '120x120', class:'rounded-circle' %>
      <% end %>
    <% else %>
      <%= image_tag 'no_profile_pic.jpg', size:'120x120', class:'img-fluid' %>
    <% end %>
    <p class='h2'><%= @user.fullname %></h2>



  <div class='container-fluid py-3 collapse' id='collapsable-upload-form' style='margin-bottom: -400px; background-color: #F5F5F5; min-height: 70vh;'>
    

    <%= form_with url: registration_path(@user), method: :put, locals: true do |f|  %>
      <%= f.file_field :profile_picture, class:'form-control-file w-25' %>
      <%= f.submit :upload, value: 'Upload', class:'form-control w-25 my-3 btn btn-primary' %>
    <% end %>
  </div>
  
  <%= link_to 'Change your profile picture', '/users/edit', data: {toggle: 'collapse', target:'#collapsable-upload-form'}, class:'my-2 h4 d-block' if @user == current_user if @user.profile_picture_attachment %>
  <%= link_to 'Upload a profile picture', '/users/edit', data: {toggle: 'collapse', target:'#collapsable-upload-form'}, class:'my-2 h4 d-block' if @user == current_user if !@user.profile_picture_attachment %>
  <h4 class='pt-2'>Email: <%= @user.email %></h4>
  </div>
</div>