<div style='background: linear-gradient(180deg, rgba(2,20,34,1) 0%, rgba(255,255,255,1) 47%);'>
  <div class='container-fluid py-3 mx-auto position-relative' id='cover-photo' style='width: 68%; background-color: #F5F5F5; height: 350px;'>

    <!-- cover photo 851x315-->
    <div id='cover-photo'>
      <%= image_tag('') %>
    </div>


    <!-- profile picture div -->
    <div id='profile-picture' class='position-absolute' style='left: 50%; margin-left: -90px; top: 60%;'%>
      <% if @user.profile_picture.attachment %>
        <%= link_to @user.profile_picture  do %>
          <%= image_tag @user.profile_picture, size: '180x180', class:'white-border rounded-circle' %>
        <% end %>
      <% else %>
        <%= image_tag 'no_profile_pic.jpg', size:'180x180', class:'white-border rounded-circle' %>
      <% end %>
    </div>

    <!-- change profile pic btn -->
    <% if @user == current_user %>
      <div class='position-absolute' style='top:85%;'>
        <%= link_to 'Change your profile picture', '#', data: {toggle: 'collapse', target:'#collapsable-upload-form'}, class:'btn btn-secondary my-2 h4 d-block change-profile-picture' if @user.profile_picture.attachment %>
        <%= link_to 'Upload a profile picture', '#', data: {toggle: 'collapse', target:'#collapsable-upload-form'}, class:'btn btn-secondary my-2 h4 d-block change-profile-picture' if !@user.profile_picture.attachment %>
      </div>
    <% end %>

    <!-- change cover photo btn -->
    <% if @user == current_user %>
      <div class='position-absolute' style='top:85%; right: 10px;'>
        <%= link_to 'Change your cover photo', '#', data: {toggle: 'collapse', target:'#collapsable-upload-form'}, class:'btn btn-secondary my-2 h4 d-block change-cover-photo' if @user == current_user if @user.cover_picture.attachment %>
        <%= link_to 'Upload a cover photo', '#', data: {toggle: 'collapse', target:'#collapsable-upload-form'}, class:'btn btn-secondary my-2 h4 d-block change-cover-photo' if @user == current_user if !@user.cover_picture.attachment %>
      </div>
    <% end %>



  </div>
<h1 class='pt-5 font-weight-bold text-center'><%= @user.fullname %></h1>

</div>
<!-- upload cover photo form -->
<div class='container-fluid py-3 collapse' id='collapsable-upload-form' style='background-color: #F5F5F5;'>
  <%= form_with url: upload_cover_photo_path, method: :put, locals: true do |f|  %>
    <%= f.file_field :profile_picture, class:'form-control-file w-25' %>
    <%= f.submit :upload, value: 'Upload', class:'form-control w-25 my-3 btn btn-primary' %>
  <% end %>
</div>

<!-- upload profile picture form -->
<div class='container-fluid py-3 collapse' id='collapsable-upload-form' style='background-color: #F5F5F5;'>
  <%= form_with url: upload_profile_picture_path, method: :put, locals: true do |f|  %>
    <%= f.file_field :profile_picture, class:'form-control-file w-25' %>
    <%= f.submit :upload, value: 'Upload', class:'form-control w-25 my-3 btn btn-primary' %>
  <% end %>
</div>

<h4 class='pt-2'>Email: <%= @user.email %></h4>
