
<div class='pt-4 container'>

  <p class="ml-4 mt-5"><%= @post.body %></p>


  <ul class='comments'>
    <h1 class="my-2 text-primary">Comments(<%= @comments.count %>)</h1>
    <% @comments.each do |comment| %>

    <li>
      <h3><%= comment.body %></h3>
      <h5 class='ml-3 text-dark'>by <%= link_to "#{comment.author.username}", profile_path(comment.author) %></h5>
      <div class="comments-buttons d-flex justify-content-between w-25">
        <%= link_to ""%>
      </div>
    </li>
    <% end %>
  </ul>


</div>