<!DOCTYPE html>
<html>
  <head>
    <title>Facebook</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@800&display=swap" rel="stylesheet">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if flash[:alert] %>
      <h2 class="alert alert-danger text-center text-dark mb-0"><%= flash[:alert]%></h2>
    <% end %>

    <% if flash[:notice] %>
      <h2 class="alert alert-warning text-center mb-0"><%= flash[:notice] %></h2>
    <% end %>



    <% unless current_page?(home_path) or current_page?(root_path) %>
      <div class='navbar' style='background-color: white;'>
        
        <%= link_to home_path do %>
          <%= image_tag 'fb_logo.svg', size: '40'  %>
        <% end %>

        <% if current_user %>
          <%= link_to 'Sign Out', destroy_session_path(current_user), method: :delete %>
        <% end %>
        
      </div>
      <div id='navbar-line' class='line'></div>
    <% end %>



    <div id='main-div' class='container-fluid clearfix' style= 'height: 90vh; background-color: #F5F5F5;'>
      <%= yield %>
    </div>

   <%= render 'home/footer' %>

  </body>
</html>
