<!DOCTYPE html>
<html>
  <head>
    <%= favicon_link_tag asset_path('favicon.png') %>

    <title>Facebook</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <!-- google fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@800&display=swap" rel="stylesheet">
    <!-- bootstrap and jquery -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <!-- fontAwesome -->
    <script src="https://kit.fontawesome.com/59f6efb51c.js" crossorigin="anonymous"></script>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <!-- top-navbar just for logged-in users! -->
    <% unless current_page?(home_path) or current_page?(root_path) or !user_signed_in? %>
      <%= render 'home/top-nav' %>
      
    <% end %>

    <!-- notifications -->
    <% if flash[:alert] or flash[:notice] %>
      <div id='notification' class='position-fixed w-100 border-radius-20 ' style='z-index: 51; top: 61px;'>
        <% if flash[:alert] %>
          <h1 class="w-100 mx-auto text-center text-danger mb-0 font-weight-bold"><%= flash[:alert]%></h1>
        <% end %>

        <% if flash[:notice] %>
          <h1 class="text-center text-success mb-0 font-weight-bold"><%= flash[:notice] %></h1>
        <% end %>
      </div>
    <% end %>

    <!-- Animation end eventListener to hide notifications afterwards  -->
    <script>
      notif = document.querySelector('#notification');
      
      if (notif) {
        notif.addEventListener('animationend', function() {
          notif.style.display = 'none';
        });
      }
    </script>
    <!-- -->

    <%= yield %>
    
    <!-- footer-->
    <% unless current_page?(feed_path) %>
      <%= render 'home/footer' %>
    <% end %>
  </body>
</html>
